.color-reaction {
    background-color: hsla(0, 100%, 67%, 5%);
    color: hsl(0, 100%, 67%);
}

.color-memory { 
    background-color: hsla(39, 100%, 56%, 5%);
    color: hsl(39, 100%, 56%);
}

.color-verbal {
    background-color: hsla(166, 100%, 37%, 5%); 
    color:  hsl(166, 100%, 37%);
}

.color-visual {
    background-color: hsla(234, 85%, 45%, 5%);
    color: hsl(234, 85%, 45%);
}

.porcentaje { 
    font-weight: bold;
}